.col{
    padding:10px;
     padding:10px;
    position: relative;
    bottom: -64px;
    left: -91px;
}
footer{
    bottom:0;
}
.tags {
    color: #4d4d4d;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    padding: 15px;
    position: relative;
    right: 72px;
    top: 26px;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s;
    left: -72px ;
}    
.gerson {
    border-radius: 32px 1px 50px;
    width: 196px;
    float: right;
    position: absolute;
    margin-top: -23px;
    padding: 0;
    right: 1px;
}    