.quem{
        position: relative;
    text-align: center;
    left: -182px;
    font-size: 50px;
    bottom: -58px;
        transform: scale(1.0);
        transition: 0.5s;
}
.quem:hover{
    font-size: 65px;
        transform: scale(1.0);
        transition: 0.5s;
        color:#aaa;
}
body {
    width:100%;
    height:100%;
    background-color:#97DAE8;
    margin:0;
    background-size: 100% 100%;
}  
ul {
   width: 100%;
    background-color:#292929;
    padding: 23px;
    position: relative;
    text-align: center;
    clear: left;
    border-bottom: 10px solid rgba(156, 156,156, 0.65);
    z-index: 2;
    transition:0.5s;
    border-top: 5px solid rgba(156, 156,156, 0.65);
}
.menu ul li {
    display:inline-block;
    padding:10px 10px;
}
.tags {
   color:#4d4d4d;
    font-size:30px;
    font-family:"Open Sans Condensed", sans-serif;
    text-transform:uppercase;
    padding:15px;
    position:relative;
    right: 72px;
    top: 26px;
    text-decoration:none;
     font-size: 30px;
        font-size:30px;
        transform: scale(1.0);
        transition: 0.5s;
}
.tags:hover {
    color:#aaa;
    text-decoration:none;
    font-size: 35px;
        font-size:35px;
        transform: scale(1.0);
        transition: 0.5s;
    
}

.camaro {
 width: 239px;
    float: left;
    position: relative;
    margin-top: -40px;
    padding: 0;
    right: 4px;
    transform: scale(1.0);
    transition: 0.5s;
}
.camaro:hover{
      transform: scale(1.1);
        transition: 0.5s;
}
footer {
   background-color: #717171;
    color: #000;
    clear: both;
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    padding: 20px;
}
.google maps {
    margin-bottom:-21px;
}   

.camaro3{
        width: 249px;
        position:relative;
        right: -38px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.jaguar{
        width: 249px;
        position:relative;
        right: -38px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.mustang{
        width: 249px;
        position: relative;
        top: -18px;
        right: -38px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.gerson{
  width:300px;
  float:left;
  border-top:10px solid #292323e6;
  border-left:10px solid #292323e6;
  border-right: 10px solid #292323e6;
  border-bottom: 10px solid #292323e6;
  position:relative;
  margin-top:-53px;
  padding:0;
  right: 53px;
    border-radius: 0px 30px 30px;
}
.col-md-4{
    background-color:#2f3538;
    border-right:5px solid white;
    height: 300px;
}
.camaro3:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
.jaguar:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
.mustang:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
p{
    margin: 0;
    padding: 100px;
    text-align: justify;
    margin: 20px 0;
    font-size: 20px;
    color: #aaa;
}