@font-face {
     font-family: "JLR Proxima Nova",Arial,Helvetica,Sans-Serif;;
     src: url(fonts/proxima/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf);
}

body {
    width:100%;
    height:100%;
    background-color:#1d1f1f;
    margin:0;
}
ul {
   width: 100%;
    background-color:#292929;
    padding: 23px;
    position: relative;
    text-align: center;
    clear: left;
    border-bottom: 10px solid rgba(156, 156,156, 0.65);
    z-index: 2;
    transition:0.5s;
}
.menu ul li {
    display:inline-block;
    padding:10px 10px;
}
.tags {
    color:#4d4d4d;
    font-family:"Open Sans Condensed", sans-serif;
    text-transform:uppercase;
    padding:15px;
    position:relative;
    right: 72px;
    top: 26px;
    text-decoration:none;
        font-size:30px;
        transition: 0.5s;
}
.tags:hover {
    color:#aaa;
    text-decoration:none;
        font-size:31px;
        font-size:33px;
        transition: 0.5s;
    
}

.camaro {
      width: 239px;
    float: left;
    position: relative;
    margin-top: -40px;
    padding: 0;
    right: 4px;
    transform: scale(1.0);
    transition: 0.5s;
}
.gerson{
   border-radius: 32px 1px 50px;
    width: 196px;
    float: right;
    position:absolute;
    margin-top: -23px;
    padding: 0;
    right: 1px;
   
}
.camaro:hover{
        transform: scale(1.1);
        transition: 0.5s;
}
footer {
   background-color: #717171;
    color: #000;
    clear: both;
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    padding: 7px;
}
.google maps {
    margin-bottom:-21px;
}   
h4 {
    margin-bottom:20px;
       
}
.promoçao{
        position: relative;
    right: 75px;
    font-family:'Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf', sans-serif;
    color: #2b2727;
    text-align: center;
     transform: scale(1.0);
        transition: 0.5s;
        font-size: 50px;
}
.promoçao:hover{
    color: #aaa;
     font-size: 53px;
        transform: scale(1.1);
        transition: 0.5s;
}

.camaro3{
        width: 249px;
        position:relative;
        right: -38px;
        top: 33px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.jaguar{
        width: 249px;
        position:relative;
        right: -38px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.mustang{
        width: 249px;
        position: relative;
        top: -18px;
        right: -38px;
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s;
}
.col-md-4{
    background-color:#2f3538;
    border-right:5px solid #585959;
    height: 600px;
    margin-bottom: 18px;
}
.camaro3:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
.jaguar:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
.mustang:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: 0.5s;
}
.local{
        position: relative;
    right: -521px;
}
.locali{
    
}
